{% extends '_base.html' %}


{% block intro %}
<div class="row hero-main-content">
    <div class="hero-text-container col-sm-7 col-xs-12">
        <h2>Barsa Bhari Tarkari</h2>
        <p>
            This free Nepali agriculture app guides farmers towards nutrient-rich vegetable production. Users can accomplish year-round access to fresh vegetables by implementing seasonally appropriate crop rotations along with improved agriculture techniques in their gardens.
        </p>
        <a href="/request/" class="google-play-badge" target="_blank">
            <img src="https://d2kfjaekmjmy1l.cloudfront.net/images/websites/public/google-play-black-on-color@2x-vFjjxY1EfmMDPxrMbxhjImUYZ.png">
        </a>
    </div>
    <div class="hero-graphic-container col-sm-5 col-xs-12 text-center">
        <img src="http://d33wubrfki0l68.cloudfront.net/012ea3e3b5c03b17263704d8481babf6170aa930/12a7f/img/frame.png" class="screenshot">
    </div>
</div>
{% endblock %}


{% block content %}
<section class="description" id="description">
    <h1 class="text-center"><strong>Features</strong></h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-xs-12 pull-right">
                <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item">
                            <img src="http://d33wubrfki0l68.cloudfront.net/012ea3e3b5c03b17263704d8481babf6170aa930/12a7f/img/frame.png" class="screenshot" alt="Screenshot of 50Headlines">
                        </div>
                        <div class="item">
                            <img src="http://d33wubrfki0l68.cloudfront.net/012ea3e3b5c03b17263704d8481babf6170aa930/12a7f/img/frame.png" class="screenshot" alt="Screenshot of 50Headlines">
                        </div>
                        <div class="item active">
                            <img src="http://d33wubrfki0l68.cloudfront.net/012ea3e3b5c03b17263704d8481babf6170aa930/12a7f/img/frame.png" class="screenshot" alt="Screenshot of 50Headlines">
                        </div>
                        <div class="item">
                            <img src="http://d33wubrfki0l68.cloudfront.net/012ea3e3b5c03b17263704d8481babf6170aa930/12a7f/img/frame.png" class="screenshot" alt="Screenshot of 50Headlines">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 col-xs-12 description-text">
                <h3>SEASONAL CROP CALENDAR</h3>
                <p>Every week the app delivers season-specific alerts for how to produce vegetables. The alerts are customized by the users' climatic conditions and choice of crop rotation. Users can select from nine crop-rotations, each with a three vegetable cycle for the user to chose from.</p>
                <hr />
                <h3>PRODUCTION AND INCOME GENERATION ESTIMATES</h3>
                <p>After entering the size of the bed the user wishes to cultivate, the application can estimate the amount of vegetable production they can get from their gardens. The app links to current market values that will estimate income generation potential from the vegetables.</p>
                <hr/>
                <h3>INTERACTIVE EDUCATIONAL MATERIALS</h3>
                <p>Using interactive photos, audio and video clips, users are taught a variety of improved agriculture practices. For each technique, the user can scroll through each step of the process to see and hear how to apply that technique in their own fields. The practices include urine application, mulching, improved compost, sheet layering, mulch bed, waste-water collection, double-digging, bio-pesticides, grafting, air layering, and fruit tree planting.</p>
                <hr />
                <h3>FRUIT NURSERY GUIDE</h3>
                <p>Users will be guided on how to start fruit tree nurseries by being guided on best times for seed collection, grafting, air layering, and transplanting. </p>
                <hr />
                <h3>VEGETABLE AND FRUIT INFORMATION</h3>
                <p>For each of the 27 featured vegetables and 9 fruits, the app has a wealth of information that the user can view including planting depth, planting distance, pest and disease control, and health benefits.</p>
                <a href="/request/" class="google-play-badge" target="_blank">
                    <span class="store-badge-white-text">
      <img src="https://d2kfjaekmjmy1l.cloudfront.net/images/websites/public/google-play-white-text@2x-vabUav6M_t16MBbSoBJTg8ciB.png">
    </span>
                </a>
            </div>
        </div>
    </div>
</section>



<section class="gallery" id="gallery">
    <div class="container">
        <div class="row">
            <p class="section-header">Screenshots of
                <strong>Barsa Bhari Tarkari</strong></p>
            <div class="gallery-screenshots">
                <div class="gallery-scroll-screenshot">
                    <img src="http://d33wubrfki0l68.cloudfront.net/1c7261cf72ea571edfef531e320ed92df882039e/529a4/img/1.png">
                </div>
                <div class="gallery-scroll-screenshot">
                    <img src="http://d33wubrfki0l68.cloudfront.net/dccdc8302dfd2a5c2f86b8e13e50b72dccd2f59d/90ed4/img/2.png">
                </div>
                <div class="gallery-scroll-screenshot">
                    <img src="http://d33wubrfki0l68.cloudfront.net/68f942560c771692e7dd427672dd42705993cc3f/cdd2c/img/3.png">
                </div>
                <div class="gallery-scroll-screenshot">
                    <img src="http://d33wubrfki0l68.cloudfront.net/1c7261cf72ea571edfef531e320ed92df882039e/a4414/img/4.png">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}